header(class='header' id='header')
    div.container-medium
        div.header-inner
            div(class='logotype')
                img(src='img/logo.png' alt='Stir Logotype')
            div(class='join-us')
                button(type='button' class='join-us-btn') Join our team