section(class='slider' id='slider')
    div(class='slider-track')
        span.slide 1
        span.slide 2
        span.slide 3
        span.slide 4
        span.slide 5
        span.slide 6
        span.slide 7