section(class='intro' id='intro')
    div(class='container-medium')
        div(class='intro-text')
            div(class='intro-text-title')
                h1 Where creators run their business.
            div(class='intro-text-subtitle')
                h3 Meet Stir. The financial studio for collaborating, splitting revenue, money management and metrics—all in one place
        div(class='intro-input')
            div(class='intro-input-body')
                input(type="email" placeholder='Enter your email')
            div(class='intro-input-btn')
                button(type='button') Get started