extends ../layout/layout.pug

block vars
    - var title = 'STIR'

block header
    include ../includes/header.pug
block intro
    include ../includes/intro-text.pug
    include ../includes/intro-slider.pug