block vars
doctype html
html(lang="en-EN")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="css/index.min.css")
        link(rel="stylesheet", href="libs/slick/slick.css")
    body
    block header
    block intro
    block example
    block leaders
    block greeting
    block description
    block payments
    block advance
    block collectives
    block reviews
    block secure
    block about
    block production
    block footer
    script(src='libs/jquery/jquery-3.6.0.min.js')
    script(src='libs/slick/slick.min.js')
    script(src='js/common.min.js')