*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 320px;
    scroll-behavior: smooth;
    line-height: 1.5;
    font-size: 20px;
    font-family: 'Roboto-Regular', sans-serif;
    position: relative;
    overflow-x: hidden;
    height: 3000px;
}

ul, ol {
    list-style: none;
}

a, a:visited, a:link {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 1ms !important;
        scroll-behavior: auto !important;
    }
}

.container {
    width: 100%;
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}