@import './vars.scss';

body {
    min-width: 320px;
    overflow-x: hidden;
    display: flex;
    flex-flow: column wrap;
}

img {
    display: grid;
    background-image: url('../assets/nais.png');
}